.blends {
  background: url("https://i.imgur.com/4H1Nzxc.jpg") center no-repeat;
  background-size: cover;
  min-height: 78vh;
  font-family: 'Titillium Web', sans-serif;
  color: white;
}

.blends button {
  margin: 0 2vw;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 19px;
  border: none;
  padding: 0.2vw;
  color: black;
  background-color: rgb(79, 79, 79);
  opacity: 0.9;
}

.blends h1 {
  color: white;
  margin-left: 7vw;
  margin-bottom: 4.5vw;
}

.blends-single-blend {
  margin-left: 4.5vw;
  margin-bottom: 1.5vw;
  display: flex;
}

.blends .blends-add-button {
  margin: 3vw 5vw;
  border-radius: 25px;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 19px;
  border: none;
  padding: 0.5vw 4vw;
  color: black;
  background-color: white;
  opacity: 1;
}