.blend-edit {
  background: url("https://i.imgur.com/4H1Nzxc.jpg") center no-repeat;
  background-size: cover;
  min-height: 82vh;
  font-family: 'Titillium Web', sans-serif;
  color: white;
  padding-left: 5vw;
}

.blend-edit-delete,
.blend-edit-add {
  margin: 0 2vw;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 19px;
  border: none;
  padding: 0.2vw;
  color: black;
  background-color: rgb(79, 79, 79);
  opacity: 0.9;
}

.blend-edit-save {
    margin-top: 3.5vw;
    margin-right: 2.5vw;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 19px;
    border: none;
    padding: 0.3vw 6vw;
    color: black;
    background-color: white;
}

.blend-edit input {
  background: black;
  border: none;
  width: 400px;
  border-bottom: solid 1px white;
  margin-bottom: 1.5vw;
  font-size: 20px;
  color: white;
}

.blend-edit input:focus {
  outline-color: black;
}

.blend-edit label {
  font-size: 30px;
}

.blend-edit-single-dropdown {
  margin-bottom: 1vw;
}

.blend-edit-add {
  margin-left: 8vw;
}

.blend-edit select {
  font-size: 20px;
  background-color: black;
  color: white;
  width: 230px;
}

.blend-edit select:focus,
.blend-edit select:active,
.blend-edit select:hover {
  outline-color: black;
}

@media (min-width: 320px) and (max-width: 767px) {
  .blend-edit {
    padding-top: 5vw;
    min-height: 85vh;
  }

  .blend-edit input {
    width: 300px;
    margin-bottom: 7vw;
  }

  .blend-edit-save {
    padding: 2vw 15vw;
  }

  .blend-edit select {
    margin-bottom: 3.5vw;
  }

  .blend-edit-add {
    margin-left: 25vw;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .blend-edit {
    padding-top: 10vw;
    min-height: 90vh;
  }

  .blend-edit input {
    width: 300px;
    margin-bottom: 7vw;
  }

  .blend-edit-save {
    padding: 1vw 10vw;
  }

  .blend-edit select {
    margin-bottom: 3.5vw;
  }

  .blend-edit-add {
    margin-left: 13vw;
  }
}
