article {
  font-family: "Titillium Web", sans-serif;
  letter-spacing: 0.7px;
  line-height: 27px;
}

article h1 {
  text-align: center;
  font-weight: 600;
  margin: 2vw 0 2.5vw 0;
  font-size: 30px;
}

article img {
  width: 500px;
  height: 310px;
}

article button {
  margin: 0 2vw 1vw;
  border-radius: 22px;
  background-color: black;
  text-align: center;
  cursor: pointer;
  font-size: 21px;
  border: none;
  padding: 0.3vw 4vw 0.6vw;
  letter-spacing: 0.8px;
  color: white;
}

article h4 {
  margin-top: 0.35vw;
}

.detail-button-and-description {
  display: flex;
  justify-content: center;
  margin-bottom: 3vw;
  margin-top: 3vw;
}

.detail-flavor {
  display: flex;
}

.detail-img-and-description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 2% 4%;
}

.detail-flavor span {
  font-weight: 600;
  margin-right: 2vw;
}

@media (min-width: 320px) and (max-width: 767px) {
  article {
    font-size: 20px;
  }

  article img {
    width: 220px;
    height: 150px;
    margin-bottom: 7vw;
    margin-top: 4vw;
  }  

  .detail-img-and-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
  }

  .detail-button-and-description {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
  }

  article h4 {
    width: 300px;
    margin-bottom: 2vw;
  }

  article button {
    padding: 2vw 4vw 3vw;
    margin-left: 19vw;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  article {
    min-height: 90vh;
    padding-top: 10vw;
  }

  article img {
    width: 380px;
  }
}